<h2><%= @document.title %></h2>

<a href="/versions/<%= @document.id %>/show_versions">See All Versions of this Document Here</a><br>
<a href="/documents/<%= @document.id %>/edit">Edit This Document</a><br>
<form action="/documents/<%= @document.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button>Delete This Document</button><br>
</form>

<hr>
<h3>by <%= @authors.find(@current_version.author_id).whole_name %> </h3>

<p> <%= @current_version.blurb %> </p> <br>
<p> <%= @current_version.content %> </p>

<hr>

<% if @comments %>
	<h3>Comments</h3>
	<% @comments.each do |comment| %>
		<p><%= comment.commentary %></p>
		<p><%= @authors.find(comment.author_id).whole_name %></p>
		<p><%= comment.created_at %></p>
	<% end %>
<% end %>

<hr>

<h3>Leave a Comment</h3>
<form action="/comments" method="POST">
	<label for="document_id"><br>
		<input type="hidden" name="document_id" value="<%=@document.id%>">
	</label>

	<label for="author">Author<br>
		<select name="author_id">
			<% @authors.each do |author| %>
				<option value="<%= author.id %>"><%= author.whole_name %></option>
			<% end %>
		</select>
	</label><br>

	<label for="commentary">Leave a Comment<br>
		<textarea type="text" rows="8" cols="40" name="commentary"></textarea>
	</label><br>
	
	<input type="submit" name="submit">
</form>