<h2><%= @document.title %></h2>

<a href="/versions/<%= @document.id %>/show_versions">See All Versions of this Document Here</a><br>
<a href="/documents/<%= @document.id %>/edit">Edit This Document</a><br>
<form action="/documents/<%= @document.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<button>Delete This Document</button><br>
</form>

<hr>
<h3>by <%= @authors.find(@current_version.author_id).whole_name %> </h3>

<p> <%= @current_version.blurb %> </p> <br>
<p> <%= @current_version.content %> </p>

<hr>

<a href="/comments/<%= @document.id %>">Join the Discussion on this Topic</a>